@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}

h1 {
  margin: 0;
}

a,
h2 {
  font-family: 'Jua', sans-serif;
}

form {
  margin-bottom: 20px;
}

input[type='checkbox'] {
  margin-right: 5px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col {
  flex-basis: 30%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.col:last-child {
  border-right: none;
}

button {
  font-family: 'Jua', sans-serif;
  display: inline-block;
  padding: 10px 10px;
  background-color: #42dbefb6;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1c8cd6;
}

.info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

#graph-container,
#firegraph-container {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

th:first-child,
td:first-child {
  font-weight: bold;
}

th {
  text-align: left;
}

div.text {
  font-family: 'Noto Sans KR', sans-serif;
}
